<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
	<!-- #1 Mybatis settings -->
 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 		<setting name="cacheEnabled" value="true"/>
 		<setting name="mapUnderscoreToCamelCase" value="true"/>
 	</settings>
 	
	<!-- #2 Java full package class access to alias -->
 	<typeAliases>
 		<typeAlias alias="Member" type="com.kh.spring.member.model.vo.Member"/>
 		<typeAlias alias="Dev" type="com.kh.spring.demo.model.vo.Dev"/>
 		<typeAlias alias="MyTypeHandler" type="com.kh.spring.common.MyTypeHandler" />
		<typeAlias alias="Board" type="com.kh.spring.board.model.vo.Board"/>
		<typeAlias alias="Notice" type="com.kh.spring.notice.model.vo.Notice"/>
		<typeAlias alias="Attachment" type="com.kh.spring.board.model.vo.Attachment"/>
		<typeAlias alias="Calendar" type="com.kh.spring.calendar.model.vo.Calendar" />
		<typeAlias alias="Art" type="com.kh.spring.art.model.vo.Art"></typeAlias>
		<typeAlias alias="Play" type="com.kh.spring.play.model.vo.Play"></typeAlias>
		<typeAlias alias="Show" type="com.kh.spring.show.model.vo.Show"></typeAlias>		
 	</typeAliases>
 	
 	<!-- 데이터를 DB로 전달할 때 바꾸기를 희망하는 자료형을
 	      찾아서 변환해주는 기능을 수행하는 객체 -->
 	<typeHandlers>
 		<package name="com.kh.spring.common"/>
 	</typeHandlers>
 </configuration>
