<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">

	<select id="selectBoardList" resultType="com.kh.spring.board.model.vo.Board">
		SELECT B.*, (SELECT COUNT(*) FROM ATTACHMENT WHERE BOARDNO = B.BOARDNO)FILECOUNT 
		FROM BOARD B
		ORDER BY BOARDDATE DESC, BOARDNO DESC
	</select>
	
	<select id="selectBoardTotalContents" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD (BOARDNO, BOARDTITLE, BOARDWRITER, BOARDCONTENT)
		VALUES (SEQ_BOARDNO.NEXTVAL, #{ boardTitle }, #{ boardWriter }, #{ boardContent })
		<!-- <selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey> -->
	</insert>
	
	<insert id="insertAttachment" parameterType="Attachment">
		<!--  selectKey -->
		<!-- 다른 테이블의 정보를 외래키로 사용할 경우 참조 연결 -->
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO ATTACHMENT VALUES (SEQ_ATTACHMENTNO.NEXTVAL, 
		  #{ boardNo }, #{ originalFileName }, #{ renamedFileName }, 
		  SYSDATE, 0, 'Y' )
	</insert>
	
	<select id="selectOneBoard" parameterType="int" resultType="Board">
		SELECT * FROM BOARD WHERE BOARDNO = #{ boardNo }
	</select>
	
	<select id="selectAttachmentList" parameterType="int" resultType="Attachment">
		SELECT *FROM ATTACHMENT WHERE BOARDNO = #{ boardNo }
	</select>
	
	<update id="updateReadCount" parameterType="int">
		UPDATE BOARD SET BOARDREADCOUNT = BOARDREADCOUNT + 1 WHERE BOARDNO = #{ boardNo }
	</update>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD SET BOARDTITLE = #{ boardTitle }, BOARDCONTENT = #{ boardContent }
		WHERE BOARDNO = #{ boardNo }
	</update>
	
	<insert id="updateAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT VALUES (SEQ_ATTACHMENTNO.NEXTVAL, 
		  #{ boardNo }, #{ originalFileName }, #{ renamedFileName }, 
		  SYSDATE, 0, 'Y' )
	</insert>
	
	<delete id="deleteAttachment" parameterType="int">
		DELETE FROM ATTACHMENT WHERE BOARDNO = #{ boardNo } 
	</delete>
	
	<delete id="deleteFile" parameterType="int">
		DELETE FROM ATTACHMENT WHERE ATTACHMENTNO = #{ attNo }
	</delete>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE BOARDNO = #{ boardNo }
	</delete>
	
</mapper>
















