<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailSQL">
	
	<select id="selectArtOne" parameterType="string" resultType="Art">
		SELECT ART_ID, ART_TITLE, START_DATE, END_DATE, ART_PLACE, ART_IMG, ART_GENRE, ART_STATUS, ART_OPENRUN, ART_AREA, ART_PRICE, ART_TEXT
		FROM ART
		WHERE ART_ID = #{ artId }
	</select>
	
</mapper>
















